.discussionsContainer {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(152, 194, 161, 0.1);
  width: 90%;

  &__title {
    color: #333;
    font-size: 1.5rem;
  }
  &__list-item {
    list-style-type: none;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #f9f9f9;
  }
  &__list-item-title {
    display: inline-block;
    margin-right: 1rem;
  }
  &__list-item-date {
    display: inline-block;
    text-decoration: none;
    font-size: small;
    font-style: italic;
  }
}
