.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  gap: 1rem;
  width: 80%;
  margin: auto;
  overflow-y: auto;
  height: 45rem;
}
